body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
}

h1 {
    color: darkblue;
}

p {
    color: navy;
    font-size: 18px;
}

button {
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(97, 105, 58);
}
